<footer th:fragment="footer" class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h5>关于我们</h5>
        <p>提供最新最热的电影资源，打造最佳观影体验。</p>
      </div>
      <div class="col-md-4">
        <h5>联系我们</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-envelope me-2"></i> wudizuijunlang@qq.com</li>
          <li><i class="bi bi-telephone me-2"></i> 10086</li>
          <li><i class="bi bi-geo-alt me-2"></i> 华南师范大学南海校区</li>
        </ul>
      </div>
    </div>
    <hr class="bg-light">
    <div class="text-center">
      <p>© 2025 rikka&yyx&wudizui&nameless. 保留所有权利</p>
    </div>
  </div>
</footer>
